# files
slurm*
test_*
testing/*
config.yaml
adptests/*
RTAscience/cfg/*.yml
RTAscience/paper/*

# folders
.*/
./
/.
!cfg/
!log/
!jobs/
lib/old*
lib/__pycache__/*
__pycache__
*.egg-info
.vscode
dist/
build/
