# files
slurm*
test_*
testing/*
config.yaml
adptests/*
RTAscience/cfg/*.yml
RTAscience/paper/*
RTAscience/cfg/*.sh
RTAscience/jobs/*myconfig*
RTAscience/jobs
RTAscience/paper
RTAscience/log
RTAscience/cancel_jobs.py
RTAscience/deljobs.py
RTAscience/wilks.py
RTAscience/sphdist.py
RTAscience/datamerger.py
RTAscience/thesis/config.xml
RTAscience/thesis/wilks.xml
RTAscience/thesis/rta-test
env.sh
loadenv.sh

# folders
.*/
./
/.
!RTAscience/cfg/
RTAscience/lib/old*
RTAscience/lib/__pycache__/*
#RTAscience/notebooks

__pycache__
*.egg-info
.vscode
dist/
build/
