# files
slurm*
config.yaml
*.xml
env.sh
loadenv.sh
rtasci/cfg/*.yml
rtasci/paper/*
rtasci/cfg/*.sh
rtasci/jobs/*myconfig*
rtasci/jobs
rtasci/paper
rtasci/log
rtasci/cancel_jobs.py
rtasci/deljobs.py
rtasci/wilks.py
rtasci/sphdist.py
rtasci/datamerger.py
rtasci/thesis/config.xml
rtasci/thesis/wilks.xml
rtasci/thesis/rta-test
rtasci/misc/notebooks
rtasci/misc/notebooks/*ipynb
env.sh
loadenv.sh
rtasci/misc/rmfiles.py
rtasci/test*
rtasci/misc/csadd2caldb.py

# folders
.*/
./
/.
__pycache__
*.egg-info
.vscode
dist/
build/
adptest*
test_*
testing/*
phd
rtasci/lib/old*
rtasci/lib/__pycache__/*
rtasci/notebooks
rtasci/jnotebooks
!rtasci/aph
rtasci/adpthesis
rtasci/misc/tmp

# exceptions
!rtasci/cfg/

