<?xml version="1.0" encoding="utf-8"?>
<config>
	<dir>
		<root path="/home/ambra/Desktop/CTA/projects/rta-pipe/" />
		<workdir path="rta-test/" />
		<datapath path="data/" templates="templates/GammaCatalogV1.0/runs/" models="models/" mergers="mergers/" ebl="ebl_tables/" />
		<obspath path="obs/" />
		<selectpath path="selected_obs/" />
		<detpath path="rta_products/" />
		<csvpath path="csv/" />
		<pngpath path="png/" />
		<runpath path="" />
	</dir>
	<dof>
		<src idAttrib="name">
			<free prm="Prefactor" />
		</src>
		<bkg idAttrib="name">
			<free prm="Prefactor" />
			<free prm="Index" />
		</bkg>
	</dof>
</config>

